
.login-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.login-snip {
    margin-top: 20%;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px 40px 50px 50px;
    background: rgba(31, 31, 31, 0.445)
}

.login-snip .login,
.login-snip .sign-up-form {
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase
}

.login-snip .tab {
    font-size: 28px;
    padding-bottom: 5px;
    margin: 0 25px 35px 25px;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: #f1f1f1;
    text-shadow: #9a105e 0px 0px 5px, #9a105e 0px 0px 10px, #fff 0px 0px 15px, #9a105e 0px 0px 20px, #9a105e 0px 0px 30px, #9a105e 0px 0px 40px, #9a105e 0px 0px 50px, #9a105e 0px 0px 75px;
    border-color: #bfbfbf;
}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group {
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-bottom: groove;
    background: rgba(0, 0, 0, 0);
    border-color: #b70a6c;
}

.login-space .group input[data-type="password"] {

    -webkit-text-security:circle;
}

.login-space .group .label {
    color: #aaa;
    font-size: 12px
}

.login-space .group .button {
    background: #9a105e5e;
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label {
    color: #fff
}

.login-space .group .check:checked+label .icon {
    background: #1161ee
}

.login-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.foot {
    text-align: center
}

.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}

.Homeimg{
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    left: -100px;
    margin-left: 50%;
}

    #demotext {
        
    font-weight: 900;
        text-align: center;
color: #FFFFFF;

text-shadow: #9a105e 0px 0px 5px, #9a105e 0px 0px 10px, #FFF 0px 0px 15px, #9a105e 0px 0px 20px, #9a105e 0px 0px 30px, #9a105e 0px 0px 40px, #9a105e 0px 0px 50px, #9a105e 0px 0px 75px;
color: #000000;
font-variant: small-caps;
    }

    .keep {
        text-align: center;
        margin-bottom: 25px;
        color: #FFFFFF;
font-size: 28px;
font-variant: small-caps;

    }

    .footer1{
        background: #343A40;
background: -moz-linear-gradient(left, #343A40 0%, #343A40 50%, #666666 100%);
background: -webkit-linear-gradient(left, #343A40 0%, #343A40 50%, #666666 100%);
background: linear-gradient(to right, #343A40 0%, #343A40 50%, #666666 100%);
    }
