.navbar {
	position: fixed;
	padding: 0px 0px 61px 0px;
	top: 0;
    width: 100%;
    background-image: linear-gradient(black, rgb(52, 58, 64));
}
.i {
float:right;
}
.imgc {
	float: right;
	justify-self: right;}