* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 20px;
    height: 100%; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width:47.5%;
  }
  
  .right {
      
    background: #343A40;
background: -moz-linear-gradient(left, #343A40 0%, #343A40 50%, #666666 100%);
background: -webkit-linear-gradient(left, #343A40 0%, #343A40 50%, #666666 100%);
background: linear-gradient(to right, #343A40 0%, #343A40 50%, #666666 100%);
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0%;
    top: 85px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
