<!DOCTYPE html>
<html>
<head>	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/sideNavContact.css" />
<link rel="stylesheet" href="../static/css/userChip.css" />
<link rel="stylesheet" href="../static/css/contactModal.css" />
<link rel="stylesheet" href="../static/css/contactPopUpForm.css" />
<link rel="stylesheet" href="../static/css/paykeet.css" />
<link rel="stylesheet" href="../static/css/navbar.css" />
<link rel="stylesheet" href="../static/css/userHome.css" />
<link rel="stylesheet" href="../static/css/fontawesome.css" />
<link rel="stylesheet" href="../static/css/sidenav.css" />
	<script src="../static/js/jquery-3.5.1.js"></script>
	<script src="../static/js/deleteUser.js"></script>
<script src="../static/js/form.js"></script>
<script src="../static/js/modal.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if title %}
	<title>KeepKeet.com/{{title}}</title>
{% endif %}
	<title>KeepKeet.com</title>

</head>
<body>
	<!-- ####### Search Bar ####### -->
	<div class="icon-bar">
		<div class="active" id="myBtn"> <i class="fa fa-home fa-3x"></i> </div>
		<div class="subactive" id="mySearchBtn" onclick="openAddForm()"> <i class="fa fa-user-plus fa-3x"></i>Create New </div>
		<div class="subactive" id="mySearchBtn" onclick="openForm()"> <i class="fa fa-search fa-3x"></i> Search Contacts </div>
		<div class="subactive" id="mySearchBtn" onclick="openForm()"> <i class="fa fa-edit fa-3x"></i>Update Contact</div>
		<div class="subactive" id="deletebutton" onclick="deleteUser()"> <i class="fa fa-user-times fa-3x"></i>Delete Contact</div>
		<div class="subactive" id="mySearchBtn" onclick="deleteUser()"> <i class="fa fa-sign-out fa-3x"></i>Logout </div>
		
		<!-- <div class="subactive" id="mySearchBtn" onclick="searchModal()"> <i class="fa fa-wheelchair-alt fa-3x"></i> </div> -->
	</div>




	<div class="row">
		
		<div class="column">
			{% for data in data %}
			<div class ="row">
			<div class="chip"> <img src="../static/image/aang.jpg" alt="Person" width="96" height="96">   {{data.Firstname}} {{data.Lastname}}
				 <span class = "chipphone">{{data.Phone}}</span> 
			</div>
				<span><button type="button" style="display: none" id="butj" class="trashbutton"><i class="fa fa-trash"></i>Trash</span>
			
				<span><button type="button" class="btn dangerc"> <i class="fa fa-edit"></i>Edit</button></span>
			</div>

			{% endfor %}


		</div>
		
		<div class="columndisplay">
			<table id="mytbl" class="table table-dark table-striped">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Email</th>
						<th>Phone</th>
					</tr>
				</thead>
				<tbody >
					{% for data in data %}
					<tr>
						<td>{{data.Firstname}}</td>
						<td>{{data.Lastname}}</td>
						<td>{{data.Email}}</td>
						<td>{{data.Phone}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="footer">
		<p>Footer</p>
	</div>
	
	<!-- ############## Popup window for logging in ################ -->
	<!--pay me-->
	<div class="form-popup" id="myForm">
		<form action="/action_page.php" class="form-container">
		  <h1>Search Contacts</h1>
	  
		  <input onkeyup="searchContact()" id="myInput" type="text" placeholder="Search" name="text" required>
		  <button type="submit">Search</button>
		  <div class="dropdown">
			  <button type="button" class="btn dropdown" placeholder="Categories" data-toggle="dropdown">
			  Search By:
			  </button>
			  <div class="dropdown-menu">
				  <a class="dropdown-item" href="#">Name</a>
				  <a class="dropdown-item" href="#">Phone Number</a>
				  <a class="dropdown-item" href="#">Date Created</a>
			  </div>
		  </div>
		  <button type="button" class="btn-cancel" onclick="closeForm()">Close</button>
		</form>
	  </div>
	  
	  <div class="form-popup" id="myAddForm">
		<form action="/CreateContact" class="form-container" method = "POST">
		  <h1>Add Contact</h1>
		  
		  <input type="text" placeholder="First Name" name="inputFirstName" required>
		  <input type="text" placeholder="Last Name" name="inputLastName" required>
		  <input type="text" placeholder="Email" name="inputEmail" required>
		  <input type="text" placeholder="Phone Number" name="inputPhone" required>
		  <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit"">Add Contact</button>
		  <button type="button" class="btn cancel" onclick="closeAddForm()">Close</button>
		</form>
	  </div>	

	<!-- Search Modal -->
	<div id="mySearchModal" class="modal">
		<div class="modal-content">
			<div class="modal-header"> <span class="close">&times;</span> </div>
			<div class="modal-body">
				<h1>Search For Contact</h1>
				<label for="Search"><b>Search</b></label>
				<input type="text" id="myInput" onkeyup="searchContact()" placeholder="Search for names...">
				<!-- INSERT USER CONTACTS TABLE FROM DB HERE -->
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Phone</th>
						</tr>
					</thead>
					<tbody id="myBody">
						<tr>
							<td>John</td>
							<td>Doe</td>
							<td>john@example.com</td>
							<td>(000)000-0000</td>
						</tr>
						<tr>
							<td>Mary</td>
							<td>Moe</td>
							<td>mary@example.com</td>
							<td>(000)000-0000</td>
						</tr>
						<tr>
							<td>Sunday</td>
							<td>Dooley</td>
							<td>july@example.com</td>
							<td>(000)000-0000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</body>

</html>